@charset "utf-8";

body {
	margin: 0;
	width: 100%;
	padding: 0;
	font-size: 100%;
}

img {
	border: 0;
}

h1 {
	font-family: 'ChunkFiveRegular';
	font-size: 280%;
	color:#121212;
	font-weight:normal;
	margin:0 0 5px 0;
}

p{
	font-family: 'Vezus-Light';
	font-size: 150%;
	font-weight:normal;
	line-height:34px;
	margin:0;
}

@font-face {
	font-family: 'CandaraRegular';
	src: url('../webfonts/candara-webfont.otf');
	src: url('../webfonts/candara-webfont.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/candara-webfont.woff') format('woff'),
	url('../webfonts/candara-webfont.ttf') format('truetype'),
	url('../webfonts/candara-webfont.svg#CandaraRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ChunkFiveRegular';
	src:url('../webfonts/Chunkfive-webfont.eot');
	src:url('../webfonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/Chunkfive-webfont.woff') format('woff'),
	url('../webfonts/Chunkfive-webfont.ttf') format('truetype'),
	url('../webfonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vezus-Light';
	src:url('../webfonts/256098_0_0.eot');
	src:url('../webfonts/256098_0_0.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/256098_0_0.woff') format('woff'),
	url('../webfonts/256098_0_0.ttf') format('truetype');
}

#header, #first, #second, #third, #forth, #fifth, #sixth {
	width: 100%;
}

.main-menu{
	color: #8F8F8F;
	font-family: 'CandaraRegular';
	height: 40px;
	left: 0;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding:20px 0;
	margin:0;
	white-space: nowrap;
	background-color:rgba(1,1,1,0);
}

.main-menu ul{
	display:inline-block;
}

.main-menu ul li{
	list-style: none;
	display:inline-block;
	padding: 0 10px;
	margin: 0;
	color:#8f8f8f;
	text-decoration: none;	
	font-size: 0.8rem;
}

.main-menu ul li a{
	color:#8f8f8f;
	text-decoration: none;	
	font-size: 0.8rem;	
}

.main-menu .selected{
	color:#ff0084;
	text-decoration: none;
}
.main-menu ul li a:hover{
	color:#fff;
	text-decoration: none;
}

.main-menu ul li img{
	vertical-align: middle;
	padding: 0 10px;
}

.main-menu .logo{
	width: 190px;
	height:40px;
	display:inline-block;
	margin: 0 30px;
}

.main-menu .logo img {
	vertical-align: middle;
}

.welcome-message{
	background: url("../images/welcome-text-bg.jpg") repeat fixed 0 0 transparent;
	border-bottom: 1px solid #DDDDDD;
	display: block;
	color: #121212;
	left: 0;
	margin: 0;
	padding: 70px 0;
	text-align: center;
	width: 100%;
}

.welcome-message h2, .welcome-message p {
	margin:0 auto;
	max-width: 720px;
	padding: 0 20px;
}

#first {
	height: 700px;
	margin: 0 auto;
	padding: 0;
}

#second, #third, #forth, #fifth, #sixth{
	height: 650px;
	margin: 0 auto;
	padding: 50px 0;
	overflow: hidden;
}

#first {
	background: url(../images/backgrounds/1920/01.jpg) no-repeat fixed 50% -70px transparent;
}

#second {
	background: url(../images/backgrounds/1920/02.jpg) no-repeat fixed 50% 0 transparent;
}

#third {
	background: url(../images/backgrounds/1920/03.jpg) no-repeat fixed 50% 0 transparent;
}

#forth {
	background: url(../images/backgrounds/1920/04.jpg) no-repeat fixed 50% 0 transparent; 
}

#fifth {
	background: url(../images/backgrounds/1920/05.png) repeat fixed 50% 0 transparent; 
}

#sixth {
	background: url(../images/backgrounds/1920/06.jpg) no-repeat fixed 50% 0 transparent; 
}

.second .slide-number {
	color:#ff0084;
}

.third .slide-number {
	color:#db0b00;
}

.forth .slide-number {
	color:#3fabff;
}

.fifth .slide-number {
	color:#2e2e2e;
}

.sixth .slide-number {
	color:#fac948;
}

.story{
	margin: 0 auto;
	overflow: hidden;
}

.story .float-left, .story .float-right{
	padding: 0;
	position: relative;
	width: 350px;	
}

.slide {
	width: 100%;
}

.slide-header{
	background-color: #FFFFFF;
	display: block;
	margin: 0;
	padding: 50px 0;
	width: 100%;
}

.slide-number{
	display: inline-block;
	float: left;
	font-family: 'ChunkFiveRegular';
	font-size: 450%;
	margin: 0 70px;
	height:150px;
}

.slide-details  {
	width: auto;
	overflow: hidden;
}

.slide-details h2 {
	font-family: 'ChunkFiveRegular';
	font-size: 240%;
	margin: 0;
	color: #121212;
	display: block;
	width:100%;
	white-space:normal;
}

.slide-details p {
	font-family: 'Vezus-Light';
	font-size:150%;
	line-height: 34px;
	margin-top:10px;
	display:block;
	width:100%;
	white-space:normal;
}

.slide-details p a {
	color: #FF0084;
	text-decoration: none;
}

.slide-details p a:hover {
	text-decoration: underline;
}

.slide-details p a:visited {
	color: #FF0084;
}

.gallery-container {
	padding:50px 0;
	text-align:center;
}

.gallery-wrapper {
	width:650px;
	height:650px;
	padding:0;
	margin:0 auto;
	text-align: center;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	border-radius: 20px; 
	border: 5px solid #fac948;
	box-shadow: 0 0 5px #121212;
	position: relative;
}

.gallery-wrapper img {
	vertical-align: middle;
	position: relative;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	border-radius: 20px; 
}

.gallery-wrapper ul.gallery-label {
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	border-radius: 20px; 
	background-color: #fac948;	
	background-repeat: no-repeat;
	list-style-type: none;
	position: absolute;
	top: 20px;
	width:160px;
	left: 50%;
	margin: 0 auto 0 -80px;
	background-image: url("../images/gallery-icon.png");
	background-repeat: no-repeat;
	background-position: 4px 4px;
	padding: 0;
	border: 2px solid #121212;
	box-shadow: 0 0 5px #121212;
}

.gallery-wrapper ul.gallery-label li {
	background-color: #fac948;	
	display: inline-block;	
	padding: 0;
	margin-left: 20px;
	line-height: 38px;
	font-family: 'Chunkfive';
	font-size:20px;
	color:#121212;	
}


.gallery-wrapper img {
	visibility:hidden;
	width:0;
	height:0;
	padding:0;
	margin:0;
	border:0;
	outline:0;
	display: block;
}

.slide-header a.top {
	font-family: 'ChunkFiveRegular';
	font-size: 200%;
	font-weight: normal;	
	float:right;
	margin-right:100px;
	vertical-align: middle;
	color:#ccc;
	width:120px;
	height:34px;
	background-image:url(../images/top.png);
	background-position: top right;
	background-repeat: no-repeat;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	line-height: 48px;	
	position: relative;
}

.slide-header a.top:hover {
	color:#121212;
	background-image:url(../images/top-hover.png);
}

.skills-container {
	width:960px;
	height:588px;
	margin:0 auto;
	padding:0;
}

.skills-container img {
	vertical-align: middle;
	margin-top:	30px;
}

.gallery-link {
	width: 650px;
	height: 650px;
	background-position: center;
}

.web-design-container {
	background-image: url("../images/web-design-gallery.jpg");
	background-position: center center;
	background-size:100%;
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px; 
}

.icons-and-illustration-container {
	background-image: url("../images/icons-and-illustration-gallery.jpg");
	background-position: center center;
	background-size:100%;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	border-radius: 15px;
}

.photography-container {
	background-image: url("../images/photography-gallery.jpg");
	background-position: center center;
	background-size:100%;
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
}

.contact {
	font-family: 'Vezus-Light';
	font-size: 32px;
	width:100%;
	padding: 100px 0 0;
	text-align:	center;	
}

.contact ul.contact-email, .contact ul.contact-twitter {
	margin:0 auto;
	list-style-type: none;
}

.contact ul.contact-email li, .contact ul.contact-twitter li {
	color:#121212;
	line-height: 75px;
	-webkit-border-radius: 40px; 
	-moz-border-radius: 40px; 
	border-radius: 40px; 	
	margin: 25px auto;
	background-color: #fac948;	
	background-repeat: no-repeat;
	background-position: 8px 8px;
	padding: 0 30px 0 85px;
	display: inline-block;
	border: 2px solid #121212;
	box-shadow: 0 0 5px #121212;
}

.contact ul.contact-email li {
	background-image: url("../images/contact-email.png");
}

.contact ul.contact-twitter li {
	background-image: url("../images/contact-twitter.png");
}

.contact ul.contact-email a, .contact ul.contact-twitter {
	text-decoration: none;
	color:#121212;
}

.contact ul.contact-email a li:hover, .contact ul.contact-twitter a li:hover {
	color:#fac948;
	background-color:#121212;	
}

.contact ul.contact-email a li:hover {
	background-image: url("../images/contact-email-hover.png");
}

.contact ul.contact-twitter a li:hover {
	background-image: url("../images/contact-twitter-hover.png");
}

@media only screen and (max-device-width: 720px) {

	body { font-size:45%;}

	.main-menu{
		width:190px;
		margin:0 auto;
	}

	.main-menu ul {
		width:190px;
		margin:0 auto;
	}
	.main-menu ul.hide-menu {
		visibility: hidden;
		width:0;
	}

	.welcome-message{
		padding: 20px 0;		
	}

	.welcome-message h1 {
		line-height: 25px;
		font-family: 'ChunkFiveRegular';
	}


	.welcome-message p {
		line-height: 20px;
		font-family: 'Vezus-Light';
	}

	#first {
		height: 275px;
		margin: 0 auto;
		padding: 0;
	}

	#second, #third, #forth, #fifth, #sixth{
		height: 325px;
		margin: 0 auto;
		padding: 50px 0;
		overflow: hidden;
	}

	#first {
		background: url(../images/backgrounds/768/01.jpg) no-repeat fixed 50% 0px transparent;
	}

	#second {
		background: url(../images/backgrounds/768/02.jpg) no-repeat fixed 50% -400px transparent;
	}

	#third {
		background: url(../images/backgrounds/768/03.jpg) no-repeat fixed 50% -400px transparent;
	}

	#forth {
		background: url(../images/backgrounds/768/04.jpg) no-repeat fixed 50% -400px transparent; 
	}

	#fifth {
		background: url(../images/backgrounds/768/05.png) repeat fixed 50% 0 transparent; 
	}

	#sixth {
		background: url(../images/backgrounds/768/06.jpg) no-repeat fixed 50% -400px transparent; 
	}


	.slide-header{
		padding: 20px 0;;
	}

	.slide-details h1 {
		line-height:25px;
		font-family: "ChunkFiveRegular"
	}

	.slide-details p {
		line-height: 15px;
		font-family: "Vezus-Light"
	}

	.slide-number {
		margin: 0 10px
	}

	.slide-header a.top {
	    background-image: url("../images/top-2.png");
	    margin-right: 10px;
	    width: 55px;
	    line-height: 25px;
	    margin-right: 10px;
	}

	.slide-header a.top:hover {
	    background-image: url("../images/top-hover-2.png");
	}	

	.gallery-wrapper {
		width:325px;
		height:325px;
	}

	.web-design-container {
	    background-image: url("../images/web-design-gallery-2.jpg");
	}

	.gallery-link {
	    height: 325px;
	    width: 325px;
	}

	.gallery-wrapper {
		width:325px;
		height:325px;
	}

	.gallery-wrapper ul.gallery-label {
		margin: 0 auto 0 -20px;
	}	

}

