/*
Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	min-width: 1920px;
	padding: 0;
}

img {
	border: 0;
}

h1 {
	font-family: 'ChunkFiveRegular';
	font-size: 42px;
	color:#121212;
	font-weight:normal;
	margin:0 0 5px 0;
}

p{
	font-family: 'Vezus-Light';
	font-size: 24px;
	font-weight:normal;
	line-height:34px;
	margin:0;
}

@font-face {
	font-family: 'CandaraRegular';
	src: url('../webfonts/candara-webfont.otf');
	src: url('../webfonts/candara-webfont.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/candara-webfont.woff') format('woff'),
	url('../webfonts/candara-webfont.ttf') format('truetype'),
	url('../webfonts/candara-webfont.svg#CandaraRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ChunkFiveRegular';
	src:url('../webfonts/Chunkfive-webfont.eot');
	src:url('../webfonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/Chunkfive-webfont.woff') format('woff'),
	url('../webfonts/Chunkfive-webfont.ttf') format('truetype'),
	url('../webfonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vezus-Light';
	src:url('../webfonts/256098_0_0.eot');
	src:url('../webfonts/256098_0_0.eot?#iefix') format('embedded-opentype'),
	url('../webfonts/256098_0_0.woff') format('woff'),
	url('../webfonts/256098_0_0.ttf') format('truetype');
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
	z-index: 999;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
}

.main-menu{
	color: #8F8F8F;
	font-family: 'CandaraRegular';
	font-size: 12px;
	height: 40px;
	left: 0;
	margin: 0 auto;
	position:fixed;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	padding:20px 0;
	margin:0;
	white-space: nowrap;
}

.main-menu ul{
	margin:0;
	overflow: hidden;
}

.main-menu ul li{
	list-style: none;
	display:inline-block;
	padding: 0 10px;
	margin: 0;
	color:#8f8f8f;
	text-decoration: none;
	
}

.main-menu ul li a{
	color:#8f8f8f;
	text-decoration: none;		
}

.main-menu .selected{
	color:#ff0084;
	text-decoration: none;
}
.main-menu ul li a:hover{
	color:#fff;
	text-decoration: none;
}

.main-menu ul li img{
	vertical-align: middle;
	padding: 0 10px;
}

.slide-number{
	display: inline-block;
	float: left;
	font-family: 'ChunkFiveRegular';
	font-size: 72px;
	margin: 0 70px;
	height:150px;
}

#intro{
	background:url(../images/firstBG.jpg) no-repeat fixed 50% -95px transparent;
	background-color:#060606;
	color: white;
	height: 950px;
	margin: 0 auto;
	padding: 0;
}

#intro .welcome-message{
	background: url("../images/welcome-text-bg.jpg") repeat fixed 0 0 transparent;
	border-bottom: 1px solid #DDDDDD;
	bottom: 0px;
	color: #121212;
	height: 115px;
	left: 0;
	margin: 0 auto;
	padding: 70px 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
#intro .welcome-message .heading h2, #intro .welcome-message .sub-heading {
	width:777px;
	margin:0 auto;
}

#second, #third, #forth, #fifth, #sixth{
	height: 1075px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#second {
	background: url(../images/secondBG.jpg) no-repeat fixed 50% 0 transparent;
}

#second .story .slide-header .slide-number {
	color:#ff0084;
}

#third{
	background: url(../images/thirdBG.jpg) repeat fixed 50% 0 transparent;
}

#third .story .slide-header .slide-number {
	color:#db0b00;
}

#forth{
	background: url(../images/forthBG.jpg) no-repeat fixed 50% 0 transparent;
}

#forth .story .slide-header .slide-number {
	color:#3fabff;
}

#fifth{
	background: url(../images/fifthBG.png) repeat fixed 50% 0 transparent;
	background-color: ##111111;
}

#fifth .story .slide-header .slide-number {
	color:#2e2e2e;
}

#sixth{
	background: url(../images/sixthBG.jpg) no-repeat fixed 50% 0 transparent;
}

#sixth .story .slide-header .slide-number {
	color:#fac948;
}

.story{
	margin: 0 auto;
	overflow: auto;
}

.story .float-left, .story .float-right{
	padding: 0 0 0 0;
	position: relative;
	width: 350px;	
}

.slide {
	width: 100%;
}

#nav li a {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #121212;
	border: solid 1px #fff;
	margin:20px 0;
	font-family: 'Chunkfive';
	font-size: 18px;
}

#nav li a.current {
	background-color: orange;
}

.slide-header{
	background-color: #FFFFFF;
	display: inline-block;
	margin: 0;
	padding: 70px 0;
	width: 100%;
}

.slide-header .slide-details  {
	color: #121212;
	display: inline-block;
	position: absolute;
}

.slide-header .slide-details .slide-heading {
	display: inline-block;
	float: left;
	font-family: 'ChunkFiveRegular';
	font-size: 42px;
	margin-bottom: 5px;
	white-space: nowrap;
}

.slide-header .slide-details .slide-description {
	clear: both;
	display: inline-block;
	float: left;
	font-family: 'Vezus-Light';
	font-size: 24px;
	line-height: 34px;
	padding-right:220px;
}

.slide-header .slide-details .slide-description p a {
	color: #FF0084;
	text-decoration: none;
}

.slide-header .slide-details .slide-description p a:hover {
	text-decoration: underline;
}

.slide-header .slide-details .slide-description p a:visited {
	color: #FF0084;
}

.gallery-container {
	height:975px;
	padding:50px 0;
	text-align:center;
	overflow:hidden;
	display:block;
}

.gallery {
	width:650px;
	height:650px;
	padding:0;
	margin:0;
	margin:0 auto;
	text-align: center;
}

.gallery img {
	vertical-align: middle;
	position:	relative;
}

.gallery ul.gallery-label {
	font-family: 'Chunkfive';
	font-size:20px;
	color:#121212;
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	border-radius: 20px; 
	background-color: #fac948;	
	background-repeat: no-repeat;
	list-style-type: none;
	position: absolute;
	bottom: 110px;
	width:160px;
	left: 50%;
	margin: 0 auto 0 -80px;
	background-image: url("../images/gallery-icon.png");
	background-repeat: no-repeat;
	background-position: 4px 4px;
	padding: 0;
	border: 2px solid #121212;
	box-shadow: 0 0 5px #121212;
}

.gallery ul.gallery-label li {
	background-color: #fac948;	
	display: inline-block;	
	padding: 0;
	margin-left: 20px;
	line-height: 38px;
}

#html5Loader {
	top:0;
	left:0;
	background-color:black;
	background-color:rgba(0,0,0,0.95);
	position:fixed;
	z-index:99;
}
#html5Loader .fallback {
	top:50%;
	position:absolute;
	text-align:center;
	width:100%;
	color:white;
	vertical-align: middle;
	display: block;
	font-style: normal;
}
div#wrapper > * {
	width:400px;
}


.slide-header a.top {
	font-family: 'ChunkFiveRegular';
	font-size: 30px;
	font-weight: normal;	
	float:right;
	z-index: 200;
	margin-right:100px;
	vertical-align: middle;
	color:#ccc;
	width:120px;
	height:34px;
	background-image:url(../images/top.png);
	background-position: top right;
	background-repeat: no-repeat;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	line-height: 48px;	
	position: relative;
}


.slide-header a.top:hover {
	color:#121212;
	background-image:url(../images/top-hover.png);
}

.skills-container {
	width:960px;
	height:588px;
	margin:0 auto;
	padding:0;
}

.skills-container img {
	vertical-align: middle;
	margin-top:	30px;
}

.gallery-link {
	width: 650px;
	height: 650px;
	background-position: center;
}

.web-design-container {
	background-image: url("../images/web-design-gallery.jpg");
	background-position: center center;
	background-size:100%;
}

.icons-and-illustration-container {
	background-image: url("../images/icons-and-illustration-gallery.jpg");
	background-position: center center;
	background-size:100%;
}

.photography-container {
	background-image: url("../images/photography-gallery.jpg");
	background-position: center center;
	background-size:100%;
}

.overlay {
	position: absolute;
	cursor: pointer;
}
.overlay-background {
	background: #000;
	opacity: 0.85;
	border: 10px solid #000;
	border-radius: 5px;
	position: absolute;
}
.overlay-label {
	color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	bottom: 150px;
	width: 170px;
	text-align: center;
	font-family: 'Vezus-Light';
	font-size: 18px;
	line-height: 34px;
}
.overlay-find {
	position: absolute;
	background-image: url(../images/view-gallery.png);
	width: 90px;
	left: 50%;
	margin-left: -35px;
	height: 90px;
	top: 150px;
}
.contact {
	font-family: 'Vezus-Light';
	font-size: 32px;
	width:100%;
	padding: 150px 0 0;
	text-align:	center;	
}

.contact ul.contact-email, .contact ul.contact-twitter {
	margin:0 auto;
	list-style-type: none;
}

.contact ul.contact-email li, .contact ul.contact-twitter li {
	color:#121212;
	line-height: 75px;
	-webkit-border-radius: 40px; 
	-moz-border-radius: 40px; 
	border-radius: 40px; 	
	margin: 25px auto;
	background-color: #fac948;	
	background-repeat: no-repeat;
	background-position: 8px 8px;
	padding: 0 30px 0 85px;
	display: inline-block;
}

.contact ul.contact-email li {
	background-image: url("../images/contact-email.png");
}

.contact ul.contact-twitter li {
	background-image: url("../images/contact-twitter.png");
}

.contact ul.contact-email a, .contact ul.contact-twitter {
	text-decoration: none;
	color:#121212;
}

.contact ul.contact-email a li:hover, .contact ul.contact-twitter a li:hover {
	color:#fac948;
	background-color:#121212;	
}

.contact ul.contact-email a li:hover {
	background-image: url("../images/contact-email-hover.png");
}

.contact ul.contact-twitter a li:hover {
	background-image: url("../images/contact-twitter-hover.png");
}